.container {
    display: flex;
    justify-content: space-around;
}

.iframe-container {
    width: 800px;
    height: 900px;
    border: 1px solid #e4e4e4;
    border-radius: 4px;
}

.chatbox-container {
    width: 800px;
    height: 900px;
    display: flex;
    flex-direction: column;
    border: 1px solid #e4e4e4;
    border-radius: 4px;
}

#chatlog {
    flex-grow: 1;
    overflow: auto;
    padding: 10px;
}

#chat-inputs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

#userInput {
    flex-grow: 1;
    margin-right: 10px;
}

#sendButton {
    flex-shrink: 0;
}
